- if user_signed_in?
  %h1 Hello guys, I created this template specialy for us!!!!
  %h5.m-t-xl.m-b-xl
    Botton is REACT COMPONENT
  = react_component 'Name', render(template: 'static_pages/_show.json.jbuilder', locals: { name: "DUNICE EDGE" })
- else
  %h1 Hello gyes, I created this template specialy for us!!!!But you not sighed in